body{
    background-image:url(../../Assets/government.jpg) ;
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: center; /* Centers the image */
    background-attachment: fixed;
    
}
.homePage img{
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 600px;
    width: 600px;
    margin-left: 400px;
    mix-blend-mode: multiply;
    
    
}